body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #007bff;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
}
.card {
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
}
/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
} */
.card-body {
    background: linear-gradient(135deg, #007bff 0%, #6610f2 100%);
    color: white;
    border-radius: 10px;
}
.btn-primary {
    background-color: white;
    color: #007bff;
    border: none;
    font-weight: bold;
}
/* .btn-primary:hover {
    background-color: #0056b3;
    color: white;
} */